* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
    --primary-purple: #5d3fd3;
    --background-black: #1c1c1e;
    --lavender: #d6c7f7;
    --off-white: #f5f5f7;
}

body {
    background-color: var(--background-black);
    color: var(--off-white);
    line-height: 1.6;
}

.contact-info {
    max-width: 1200px;
    margin 0 auto;
    padding: 1rem;
}

#addresses {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
}

header {
    background-color: var(--primary-purple);
    padding: 1rem;
}